# Assignment

Take the dataset you found in week 1 and try to explore it. If you do not have a dataset yet, visit `https://www.kaggle.com/datasets` to find it, or use the covid-19 dataset provided

1. Try to describe the dataset in markdown, write an introduction text about what the dataset contains and what you will explore
2. Uses pandas functions to do exploration of the dataset
    - How big is your dataset
    - Averages
3. Rename a column, check out the documentation how to do this (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)
4. Check for null values
5. Fill your null values, make sure to write in markdown the decision, you made about filling the null values (average / median), think what is most appropriate in you case
6. If you have strings in your dataset, try to add an exclamation mark to the string of the current column (so you can overwrite the column)
7. If you have integers in your dataset, create a new column called "plus1" and add 1 to the integer column
8. If you have dates in your dataset, try to extract the year and put this in a 'year' column
9. Try to awnser the questions you wrote down in week 1

# An exporation of Covid-19 cases in China
Write here a summary of what your dataset is about and the result of the analysis you did. Talk about the key take aways and important things other data analyst should know before they look at your code

## Layout
Go check out these links for tips
1. https://towardsdatascience.com/jupyter-notebook-best-practices-f430a6ba8c69
2. https://blog.jupyter.org/introducing-templates-for-jupyter-widget-layouts-f72bcb35a662

In [1]:
import pandas as pd

# read the data
path = 'Coronavirusdataset/Case.csv'
df = pd.read_csv(path)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       112 non-null    int64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.4+ KB

In [3]:
df.confirmed.describe()

count     112.000000
mean       87.446429
std       440.293981
min         0.000000
25%         5.000000
50%        10.000000
75%        33.000000
max      4510.000000
Name: confirmed, dtype: float64

In [4]:
df = df.rename(columns={'confirmed': 'confirmed_cases'})

In [5]:
df.columns

Index(['case_id', 'province', 'city', 'group', 'infection_case',
       'confirmed_cases', 'latitude', 'longitude'],
      dtype='object')

In [6]:
df.isnull().sum()

case_id            0
province           0
city               0
group              0
infection_case     0
confirmed_cases    0
latitude           0
longitude          0
dtype: int64

In [7]:
df['province'] = df['province'].astype(str) + '!'
df['province']

0                 Seoul!
1                 Seoul!
2                 Seoul!
3                 Seoul!
4                 Seoul!
             ...
107    Gyeongsangnam-do!
108    Gyeongsangnam-do!
109             Jeju-do!
110             Jeju-do!
111             Jeju-do!
Name: province, Length: 112, dtype: object

In [8]:
df.province

0                 Seoul!
1                 Seoul!
2                 Seoul!
3                 Seoul!
4                 Seoul!
             ...
107    Gyeongsangnam-do!
108    Gyeongsangnam-do!
109             Jeju-do!
110             Jeju-do!
111             Jeju-do!
Name: province, Length: 112, dtype: object

In [10]:
df.plus1 = df.confirmed_cases + 1

In [11]:
df

,case_id,province,city,group,infection_case,confirmed_cases,latitude,longitude,plus1
0,1000001,Seoul!,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387,99
1,1000002,Seoul!,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766,21
2,1000003,Seoul!,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343,42
3,1000004,Seoul!,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165,15
4,1000005,Seoul!,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403,14
...,...,...,...,...,...,...,...,...,...
107,6100009,Gyeongsangnam-do!,-,False,contact with patient,6,-,-,7
108,6100010,Gyeongsangnam-do!,-,False,etc,18,-,-,19
109,7000001,Jeju-do!,-,False,overseas inflow,9,-,-,10
110,7000002,Jeju-do!,-,False,contact with patient,0,-,-,1
111,7000003,Jeju-do!,-,False,etc,4,-,-,5

In [ ]:
# we do not have dates in this dataset, that's why we do not have anything to extract "year" from